@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

:root {
  --primary-color: #228b22;
  --light-color: #fff;
  --gray-color: #dbdbdb;
}

body {
  font-family: "Golos Text", sans-serif;
}

#hero {
  background-image: url("images/header.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

#hero h1 {
  color: var(--primary-color);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.card-height {
  height: 28em;
}

.btn-green img {
  height: 2em;
  filter: invert(28%) sepia(99%) saturate(1880%) hue-rotate(100deg)
    brightness(92%) contrast(73%);
  pointer-events: none;
}

.btn-green {
  border: 1px solid var(--primary-color);
}

.btn-green:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  transition: 0.25s ease-in-out;
}

.btn-green:focus {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-green:hover img {
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(103%)
    contrast(100%);
}

.btn-active {
  background-color: var(--primary-color);
}

.btn-active img {
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(103%)
    contrast(100%);
}

.bi-chevron-right,
.bi-chevron-left {
  color: var(--primary-color);
}

.swiper-nav {
  border: 1px solid var(--gray-color);
  padding: 0.25em 0.5em;
}

.swiper-nav:hover {
  background-color: var(--primary-color);
  transition: 0.25s ease-in-out;
}

.swiper-nav:hover .bi-chevron-right {
  color: var(--light-color);
}

.swiper-nav:hover .bi-chevron-left {
  color: var(--light-color);
}

.btn-view {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-view:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  opacity: 0.9;
  transition: 0.25s ease-in-out;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--primary-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-green {
  background-color: var(--primary-color);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 75%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.text-green {
  color: var(--primary-color);
}

@media screen and (max-width: 480px) {
  .card-height {
    height: 29em;
  }
  #hero {
    height: 40vh;
  }
  #hero h1 {
    font-size: 1.25rem;
  }
  .overlay-content {
    width: 90%;
  }
}
